div.App {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
}

div.LoginForm {
    width: 100%;
    max-width: 480px;
    background-color: white;
    border-radius: 5px;
    box-shadow: #bbb 0 0 35px;
    padding: 40px;
    margin-top: 20px;
}

div.LoginForm .projectTitle {
    margin-bottom: 25px;
    width: 100%;
}

div.LoginForm .projectTitle img {
    width: 45px;
    height: 45px !important;
}

div.LoginForm .projectTitle p {
    font-size: 25px;
}

div.LoginForm input + input {
    margin-top: 5px;
}

div.LoginForm p {
    margin: 10px 0;
}

.loginButton {
    margin-top: 25px;
}