.App {
    justify-content: center;
    align-items: initial !important;
}

.App div.generalContent {
    width: 100%;
    max-width: 1220px;
}

.DashBoard {
    width: 100%;
    max-width: 1220px;
    height: initial;
    display: flex;
    flex-direction: row;
    justify-content: initial;
    align-items: initial;
    padding: 15px;
}

div.modal {
    position: fixed;
    display: none;
    align-items: center;
    justify-content: center;
    top: 0;
    left:0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.2);
    z-index: 1;
}

div.modal.active {
    display: flex;
}

div.modal div.modalContent {
    background: white;
    position: relative;
    min-width: 400px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 25px #aaa;
    font-size: 15px;
}

div.modal div.modalContent input{
    margin: 0;
}

div.modal div.modalContent div{
    padding: 10px 0;
}

div.modal div.modalContent div .selector-group {
    display: flex;
    flex-direction: column;
}

div.modal div button.close {
    position: absolute;
    width: unset;
    height: initial;
    top: 0;
    right: 0;
    padding: 10px;
    margin: 0;
    background: transparent;
}

div.modal div button.close:hover {
    filter: brightness(120%);
}

div.modal div header h1 {
    font-size: 20px !important;
}

.DashBoard header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background: white;
    box-shadow: 0 0 15px #ccc;
    z-index: 1;
}

.DashBoard header h1 {
    width: 120px;
    position: relative;
    margin: 15px;
}

.DashBoard header div.menu{
    position: relative;
    width: 600px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 15px;
}

.DashBoard header div.menu h1 {
    width: 100%;
    text-align: right;
    display: inline;
    font-size: 22px;
    padding: 0;
}

.DashBoard header div.menu button {
    width: 45px;
    height: 45px;
    padding: 10px;
    margin: 10px;
}

.projectTitle img {
    width: 30px;
    height: 30px !important;
}

.projectTitle p{
    font-size: 15px;
}

.profilePic {
    width: 45px;
    height: 45px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    cursor: pointer;
    border-radius: 50%;
    overflow: hidden;
    border: solid 1px #ccc;
}

div.dash-itens {
    margin-top: 110px;
    width: 100%;
}

div.dash-itens h1 {
    margin-bottom: 15px;
}

div.dash-itens ul {
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
}

div.dash-itens ul li {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 25px;
    background: white;
    border-radius: 5px;
    box-shadow: 0 0 35px #ccc;
}

div.dash-itens ul li h1 {
    font-size: 20px;
    margin-bottom: 5px;
}

div.dash-itens ul li h2 {
    font-size: 14px;
    color: #c9c9c9;
    margin-bottom: 15px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown .dropdown-content{
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 0 25px #ccc;
    padding: 12px 16px;
    z-index: 1;
}

.dropdown.active .dropdown-content {
    display: block;
    padding: 0;
    margin: 0;
    background: white;
}

.dropdown.active .dropdown-content ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
    margin: 0;
}

.dropdown.active .dropdown-content ul li {
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    align-items: center;
    padding: 0;
    margin: 0;
}

.dropdown.active .dropdown-content ul li button {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: left;
    margin: 0;
    border-radius: 0;
    color: #aaa;
    background: white;
    transition: ease-in-out 0.2s !important;
}

.dropdown.active .dropdown-content ul li button p {
    display: inline-block;
    line-height: 20px !important;
}

.dropdown.active .dropdown-content ul li button:hover {
    background-color: #ddd;
    filter: brightness(110%);
}

button.AddNew {
    border-radius: 50%;
}

button.settings {
    transition: ease-in-out 0.4s !important;
}

button.settings:hover, .dropdown.active button.settings {
    border-radius: 50%;
    transform: rotate(180deg);
    filter: brightness(120%)
}

button.Delete {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: transparent;
    top: 10px;
    right: 10px;
}

button.Delete:hover {
    filter: brightness(110%);
}

@media (max-width: 600px){
    .DashBoard .projectTitle{
        display: none !important;
    }

    .DashBoard header div.menu {
        width: 100% !important;
    }

    .DashBoard header div.menu h1 {
        text-align: left;
    }

    div.dash-itens ul {
        display: grid;
        grid-template-columns: 1fr !important;
    }
}

@media (max-width: 1000px){
    div.dash-itens ul {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}