.App {
    justify-content: center;
    align-items: initial !important;
}

.DashBoard {
    width: 100%;
    max-width: 1220px;
    height: initial;
    display: flex;
    flex-direction: row;
    justify-content: initial;
    align-items: initial;
    padding: 15px;
}

.DashBoard header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    top: 0;
    width: 100%;
}

.DashBoard header h1 {
    width: 120px;
    position: relative;
}

.DashBoard header div.menu{
    width: 70%;
    max-width: 500px;
}



.projectTitle img {
    width: 35px;
}

.projectTitle p{
    font-size: 20px;
}