.SignUp {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    max-width: 1120px;
    border-radius: 5px;
    box-shadow: #bbb 0 0 35px;
    padding: 35px;
    background: white;
    margin-top: 20px;
}

.SignUp section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
}

.SignUp section p {
    padding: 15px;
    text-align: justify;
}

.SignUp .projectTitle {
    margin-bottom: 25px;
    width: 100%;
}

.SignUp .projectTitle img {
    width: 45px;
    height: 45px !important;
}

.SignUp .projectTitle p {
    font-size: 25px;
}
.input-group{
    margin-top: 5px;
}

.input-group input {
    line-height: 25px;
    margin: 0 !important;
  }